.MyAccount__navLink {
  margin-right: 4px;
  padding: 22px 23px;
  padding-right: 172px;
  background: #f3f6f9;
  border-radius: 4px 4px 0px 0px;
  border: 2px solid black;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #464e5f;
}

.Back {
	color: #464e5f;
	font-size: 20px;
}