.navbar__link {
	display: inline-block;
	padding-top: 28px;
	padding-bottom: 28px;
	color: antiquewhite;
}

.navbar__link:hover {
	border-bottom: 1px solid white;
	color: white;
	padding-bottom: 27px;
}